.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 6px 12px;
    border-radius: 8px;
    background-image: none;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* button */

.btn-primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary {
    color: var(--dark);
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.btn-white {
    color: var(--dark);
    background-color: var(--white);
    border-color: var(--white);
}

.btn-success {
    color: var(--white);
    background-color: var(--success);
    border-color: var(--success);
}

.btn-danger {
    color: var(--white);
    background-color: var(--danger);
    border-color: var(--danger);
}

.btn-warning {
    color: var(--white);
    background-color: var(--warning);
    border-color: var(--warning);
}

.btn-info {
    color: var(--white);
    background-color: var(--info);
    border-color: var(--info);
}

.btn-dark {
    color: var(--white);
    background-color: var(--dark);
    border-color: var(--dark);
}


/* end button */


/* button light */

.btn-light-primary {
    color: var(--primary);
    background-color: var(--primary-light);
}

.btn-light-secondary {
    color: var(--dark);
    background-color: var(--secondary);
}

.btn-light-white {
    color: var(--dark);
    background-color: var(--white);
}

.btn-light-success {
    color: var(--success);
    background-color: var(--success-light);
}

.btn-light-danger {
    color: var(--danger);
    background-color: var(--danger-light);
}

.btn-light-warning {
    color: var(--warning);
    background-color: var(--warning-light);
}

.btn-light-info {
    color: var(--info);
    background-color: var(--info-light);
}

.btn-light-dark {
    color: var(--white);
    background-color: var(--dark-light);
}


/* end button light */


/* button dark */

.btn-secondary-dark {
    color: var(--dark);
    background-color: var(--secondary-dark);
}


/* end button dark */


/* button outline */

.btn-outline-primary {
    color: var(--primary);
    border: 1px solid var(--primary);
    background: none;
}

.btn-outline-secondary {
    color: var(--dark);
    border: 1px solid var(--secondary);
    background: none;
}

.btn-outline-white {
    color: var(--dark);
    border: 1px solid var(--white);
    background: none;
}

.btn-outline-success {
    color: var(--success);
    border: 1px solid var(--success);
    background: none;
}

.btn-outline-danger {
    color: var(--danger);
    border: 1px solid var(--danger);
    background: none;
}

.btn-outline-warning {
    color: var(--warning);
    border: 1px solid var(--warning);
    background: none;
}

.btn-outline-info {
    color: var(--info);
    border: 1px solid var(--info);
    background: none;
}

.btn-outline-dark {
    color: var(--dark);
    border: 1px solid var(--dark);
    background: none;
}


/* end button light */


/* button hover */

.btn-primary:hover {
    color: var(--white);
    background-color: var(--primary-dark);
}

.btn-secondary:hover {
    color: var(--dark);
    background-color: var(--secondary-dark);
}

.btn-white:hover {
    color: var(--primary);
    background-color: var(--primary-light);
}

.btn-light-primary:hover {
    color: var(--white);
    background-color: var(--primary);
}

.btn-light-secondary:hover {
    color: var(--dark);
    background-color: var(--secondary-dark);
}

.btn-light-white:hover {
    color: var(--primary);
    background-color: var(--primary-light);
}

.btn-light-success:hover {
    color: var(--white);
    background-color: var(--success);
}

.btn-light-danger:hover {
    color: var(--white);
    background-color: var(--danger);
}

.btn-light-warning:hover {
    color: var(--white);
    background-color: var(--warning);
}

.btn-light-info:hover {
    color: var(--white);
    background-color: var(--info);
}

.btn-light-dark:hover {
    color: var(--white);
    background-color: var(--dark);
}

.btn-outline-primary:hover {
    color: var(--primary);
    background-color: var(--primary-light);
    border: 1px solid var(--primary-light);
}

.btn-outline-secondary:hover {
    color: var(--dark);
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.btn-outline-secondary:hover {
    color: var(--dark);
    background-color: var(--white);
    border: 1px solid var(--white);
}

.btn-outline-success:hover {
    color: var(--white);
    background-color: var(--success);
    border: 1px solid var(--success);
}

.btn-outline-danger:hover {
    color: var(--white);
    background-color: var(--danger);
    border: 1px solid var(--danger);
}

.btn-outline-warning:hover {
    color: var(--white);
    background-color: var(--warning);
    border: 1px solid var(--warning);
}

.btn-outline-info:hover {
    color: var(--white);
    background-color: var(--info);
    border: 1px solid var(--info);
}

.btn-outline-dark:hover {
    color: var(--white);
    background-color: var(--dark-light);
    border: 1px solid var(--dark-light);
}


/* end button hover */


/* button size */

.btn-lg {
    height: 48px;
    font-size: 20px;
    line-height: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.btn-md {
    height: 38px;
    font-size: 16px;
    line-height: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-sm {
    height: 33px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-xs {
    height: 28px;
    font-size: 12px;
    line-height: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

/* end button size */