/* outline color */
.outline-primary {
    border: 1px solid var(--primary) !important;
}

.outline-secondary {
    border: 1px solid var(--secondary-dark) !important;
}

.outline-success {
    border: 1px solid var(--success) !important;
}

.outline-danger {
    border: 1px solid var(--danger) !important;
}

.outline-warning {
    border: 1px solid var(--warning) !important;
}

.outline-info {
    border: 1px solid var(--info) !important;
}

.outline-select {
    border: 1px solid var(--select) !important;
}

.outline-dark {
    border: 1px solid var(--text-dark) !important;
}

.outline-primary:focus {
    outline: none !important;
    border: 1px solid var(--primary) !important;
    box-shadow: 0 0 2px var(--primary);
}

.outline-secondary:focus {
    outline: none !important;
    border: 1px solid var(--secondary-dark) !important;
    box-shadow: 0 0 2px var(--secondary-dark);
}

.outline-success:focus {
    outline: none !important;
    border: 1px solid var(--success) !important;
    box-shadow: 0 0 2px var(--success);
}

.outline-danger:focus {
    outline: none !important;
    border: 1px solid var(--danger) !important;
    box-shadow: 0 0 2px var(--danger);
}

.outline-warning:focus {
    outline: none !important;
    border: 1px solid var(--warning) !important;
    box-shadow: 0 0 2px var(--warning);
}

.outline-info:focus {
    outline: none !important;
    border: 1px solid var(--info) !important;
    box-shadow: 0 0 2px var(--info);
}

.outline-select:focus {
    outline: none !important;
    border: 1px solid var(--select) !important;
    box-shadow: 0 0 2px var(--select);
}

.outline-dark:focus {
    outline: none !important;
    border: 1px solid var(--text-dark) !important;
    box-shadow: 0 0 2px var(--text-black);
}

/* end outline color */