.rounded {
    border-radius: 50%;
}

.radius1 {
    border-radius: 1px;
}

.radius2 {
    border-radius: 2px;
}

.radius3 {
    border-radius: 3px;
}

.radius4 {
    border-radius: 4px;
}

.radius5 {
    border-radius: 5px;
}

.radius6 {
    border-radius: 6px;
}

.radius7 {
    border-radius: 7px;
}

.radius8 {
    border-radius: 8px;
}

.radius9 {
    border-radius: 9px;
}

.radius10 {
    border-radius: 10px;
}

.radius11 {
    border-radius: 11px;
}

.radius12 {
    border-radius: 12px;
}

.radius13 {
    border-radius: 13px;
}

.radius14 {
    border-radius: 14px;
}

.radius15 {
    border-radius: 15px;
}

.radius16 {
    border-radius: 16px;
}

.radius16 {
    border-radius: 16px;
}

.radius16 {
    border-radius: 16px;
}

.radius17 {
    border-radius: 17px;
}

.radius18 {
    border-radius: 18px;
}

.radius19 {
    border-radius: 19px;
}

.radius20 {
    border-radius: 20px;
}